@(topics: Iterable[String])(implicit request: RequestHeader)

@mainEmpty("Overcome the news") {

<meta name="apple-mobile-web-app-capable" content="yes">
<!--suppress HtmlUnknownTag -->

<div id="header">
    <h1>Overcome the news</h1>
</div>
<div id="page">

    <ul id="ticker" class="ticker" data-bind="foreach: tweets">
        <li>
            <strong><span class="screen_name" data-bind="text: screen_name"></span></strong> - <span data-bind="text: text"></span>
        </li>
    </ul>

</div>

<!--

<div id="tweets">
    <ul data-bind="foreach: tweets">
        <li>
            <div class="tweetlist">
                &lt;!&ndash;<span>&ndash;&gt;
&lt;!&ndash;<img data-bind="attr: { src: img_url }" />&ndash;&gt;
&lt;!&ndash;</span>&ndash;&gt;
                <div class="screen_name" data-bind="text: screen_name"></div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="timeInterval" data-bind="text: timeAgo"></div><br />
                <div class="tweettext">
                  <span data-bind="text: text"><br/>
                  </span>
                </div>
            </div>
        </li>
    </ul>
</div>-->

}